# ==================== DOCKER PORT MAPPING ====================

# On which port forward nginx's port 80 to the application
# Doesnt affect local development, only for docker deployment
APP_PORT=7777

# ==================== API SETTINGS ====================

# Where to send API requests
VITE_API_BASE_URL=http://backend:8000
